html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #fcfcfc;
}

.final, .fork {
    width: 100%;
}

.destacado {
    display: block;
    padding: 10px;
    background-color: bisque;
    width: fit-content;
    margin: auto;
}

code {
    background-color: black;
    color: white;
    padding: 5px;
}

.fondo-imagen{
    background:  linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("../img/ba1.jpg") no-repeat center;
    text-align: right;
    
}


  p.texto{
      padding-left: 50%;
  }